<div class="navbar navbar-expand-sm navbar-light navbar-prizen">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class=""><i class="fa-solid fa-cart-shopping"></i></span>
    </button>
    <%= link_to "/", class: "navbar-brand" do %>
      <strong><span class='title-ahorra'>AHORRA</span><span class='title-mais'>M<span class='title-ai'>AI</span>S!</span></strong>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<style>
  .title-ahorra {
    color: #27AF1F;
  }
  .title-ai {
    color: yellow;
  }
  .title-mais {
    color: white;
  }
  
</style>