<div id="<%= dom_id product %>">
  <p class="maxed-height text-center">
    <strong><%= product.title.truncate(35) %></strong>
  </p>
  <%# <div class="maxed-description d-flex justify-content-between">

    <div class="attributes-size">
      <p class='attributes-size btn btn-sm btn-outline-primary'>Views: </p>
    </div>      
    <div class="attributes-size">
      
    </div>      

  </div> %>
</div>

<%#= link_to product.category.title.truncate(25), category_path(product.category), class:'attributes-size btn btn-sm btn-outline-primary' %>