<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.title %>
  </p>
  <div class="row">
    <div class="col-6">
      <p>
        <div class="attributes-size"><strong>Categoria:</strong>
          <%= link_to product.category.title, category_path(product.category), class:'attributes-size btn btn-sm btn-outline-primary' %>
        </div>
      </p>
    </div>
    <div class="col-6">
      <p>
        <div class="attributes-size"><strong>Views: <%= product.views %></strong></div>
      </p>
    </div>
  </div>
</div>

<style>
  .attributes-size {
    font-size: 12px;
  }
</style>