<div id="<%= dom_id product %>">
  <p class="maxed-height">
    <strong>Nombre:</strong>
    <%= product.title.truncate(35) %>
  </p>
  <div class="row maxed-description">
    <div class="col-6">
      <p>
        <div class="attributes-size">
          <%= link_to product.category.title, category_path(product.category), class:'attributes-size btn btn-sm btn-outline-primary' %>
        </div>
      </p>
    </div>
    <div class="col-6">
      <p>
        <div class="attributes-size"><strong>Views: <%= product.views %></strong></div>
      </p>
    </div>
  </div>
</div>

<style>
  .attributes-size {
    font-size: 12px;
  }
  .maxed-height {
    height: 24px;
  }
  .maxed-description {
    height: 78px;

  }
</style>